DJANGO_ENV=development
SECRET_KEY=django-insecure-string
SLURM_USER=string
SLURM_KEYFILE=string
GOOGLE_SSO_CLIENT_ID=string
GOOGLE_SSO_PROJECT_ID=string
GOOGLE_SSO_CLIENT_SECRET=string
MYSQL_NAME=string
MYSQL_USER=string
MYSQL_PASSWORD=string
MYSQL_HOST=localhost
MYSQL_PORT=3306
# Delete the following if you updated this.
YOUDIDNOTUPDATETHIS=1