DJANGO_ENV=development
SECRET_KEY=django-insecure-string
SLURM_USER=string
SLURM_KEYFILE=string
GOOGLE_SSO_CLIENT_ID=string
GOOGLE_SSO_PROJECT_ID=string
GOOGLE_SSO_CLIENT_SECRET=string
MYSQL_NAME=string
MYSQL_USER=string
MYSQL_PASSWORD=string
MYSQL_PORT=3306

# nginx upstream DNS resolver. Leave unset on podman
# DOCKER USERS: uncomment the line below
# NGINX_RESOLVER=127.0.0.11

# Delete the below line if you updated the env template.
YOUDIDNOTUPDATETHIS=1
