.headerContainer {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.alertContainer {
  margin: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.leftColumn {
  flex: 3;
  min-width: 375px;
  padding: 1rem;
}

.middleColumn {
  flex: 9;
  min-width: 400px;
  padding: 1rem;
  height: calc(100vh - 100px); 
  position: relative;
  overflow: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
  right: 0;
}

.sidebarContent {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.jsonContainer {
  margin: 15px;
}

.filterPaper {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 375px;
}

.filterRow {
  margin-bottom: 1rem;
}

.filterLabel {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.input {
  padding: 4px 8px !important;
  font-size: 0.875rem !important;
  
}

.filterContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 4px 0;
}

.histogram {
  width: 40px;
  height: 20px;
  background: #f0f0f0;
  border-radius: 2px;
  flex-shrink: 0;
}

.minMaxInput {
  width: 70px;
  min-width: 70px;
  flex-shrink: 0;
}

.slider {
  flex: 1;
  min-width: 100px;
  padding: 10px 0;
  cursor: pointer;
}

.miniHistogram {
  display: flex;
  align-items: flex-end;
  width: 50px;
  height: 40px;
  gap: 1px;
}

.bar {
  flex: 1;
  background-color: black;
  min-width: 2px;
}

 .chartContainer {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  margin-bottom: 2rem;
}

.dashboardContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  padding: 1rem;
} 

/* Specific styles for scatter plot */
.scatterPlotContainer {
  composes: chartContainer;
  height: calc(100vh - 150px);
  min-height: 800px;
}

/* Specific styles for histogram */
.histogramContainer {
  composes: chartContainer;
  height: calc(100vh - 200px);
  min-height: 600px;
}

.noDataMessage {
  text-align: center;
  padding: 20px;
  color: #666;
  font-size: 16px;
}
