# Node/yarn
node_modules/
yarn.lock
.yarn/
.yarnrc.yml

# Build output
.next/
out/
build/
coverage/
next-env.d.ts

# eslint
.eslintcache

# Playwright
playwright-report/
playwright-html-report/
testing/.auth/
