<!-- Write HTML code here -->
<!DOCTYPE html> 
<html lang="en"> 
<head> 
<title>Project Table</title> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
</head> 
<body> 

<div class="container"> 
<h2 class="text-center"><u>CZII Project Links</u></h2><br>			 
<table class="table table-light table-striped"> 
	<thead> 
	<tr>
		<th>name</th> 
		<th>Google Drive Folder</th> 
		<th>Confluence Space</th> 
	</tr> 
	</thead> 
	<tbody> 
	<!-- jinja2 Technique -->
	{% if projects %} 
	{% for i in projects %} 
	<tr> 
        <td>{{ i }}</td>
		<td><a href="{{ i.google_drive_folder.url }}">{{ i.google_drive_folder.name }}</a></td> 
		<td><a href="{{ i.confluence_space.url }}">{{ i.confluence_space.space_id }}</a></td> 
	</tr> 
	{% endfor %} 
	{% endif %} 
	</tbody> 
</table> 
</div> 

</body> 
</html> 
            
