#!/bin/bash

# Set environment variables
export GOOGLE_SSO_CLIENT_ID='your-sso-client-id.apps.googleusercontent.com'
export GOOGLE_SSO_PROJECT_ID='your-sso-project'
export GOOGLE_SSO_CLIENT_SECRET='put-your-secret-here'
export REMOTE_ID='your_github_username'
export REMOTE_PASSWORD='your-github-password-here'
export DJANGO_ENV='production'

echo "Environment variables have been set."
