{% extends "tem/base.html" %}
{% block title %}Session Creation{% endblock %}
{% block header %}Create TEM Multi-Scaled Imaging Session{% endblock %}
{% block form %}
    <form id="sessionForm" action="{% url 'tem:create_msi_name' %}" method="post">
      {% csrf_token %}
      <div class="row form-group">
        <div class="col-md-12">
          <label for="session_plan">Session Plan</label>
          <select id="session_plan" name="session_plan" required>
            {% for option in form.session_plan.field.choices %}
              <option value="{{ option.0 }}" {% if option.0 == form.session_plan.value %}selected{% endif %}>
                {{ option.1 }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <label for="project">Project</label>
          <select id="project" name="project" required>
            {% for option in form.project.field.choices %}
              <option value="{{ option.0 }}" {% if option.0 == form.project.value %}selected{% endif %}>
                {{ option.1 }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-6">
          <label for="user">Filter by user</label>
          <select id="user" name="user">
            {% for option in form.user.field.choices %}
              <option value="{{ option.0 }}" {% if option.0 == form.user.value %}selected{% endif %}>
                {{ option.1 }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label for="grid">Grid</label>
          <select id="grid" name="grid" required>
            {% for option in form.grid.field.choices %}
              <option value="{{ option.0 }}" {% if option.0 == form.grid.value %}selected{% endif %}>
                {{ option.1 }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
            <input type="submit" value="Next">
        </div>
      </div>
    </form>
{% endblock %}

{% block endscript %}
  <script>
    $(document).ready(function() {
      $('#user').change(function() {
          var userId = $(this).val();
          $.ajax({
              url: "{% url 'get_grids_by_user' %}",
              data: {
                  'user_id': userId
              },
              success: function(data) {
                  var $grid = $('#grid');
                  $grid.empty();
                  $grid.append('<option value="">Select a grid</option>');
                  $.each(data, function(index, item) {
                      $grid.append('<option value="' + item.id + '">' + item.name + '</option>');
                  });
              }
          });
      });

      $('#sessionForm').submit(function(event) {
        var sessionPlan = $('#session_plan').val();
        var project = $('#project').val();
        var grid = $('#grid').val();

        if (!sessionPlan || !project || !grid) {
          event.preventDefault();
          $('#warningMessage').show();
        } else {
          $('#warningMessage').hide();
        }
      });
    });
  </script>
{% endblock %}
</body>
</html>
