{% extends "tem/base.html" %}
{% block title %}Screening Group Creation{% endblock %}
{% block header %}Create Screening Group from Grids on a Cassette{% endblock %}
{% block form %}
    <form id="scrnForm" action="{% url 'tem:scrncreate' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <hr>
      <div class="text-center">
        <input type="submit" value="Create a session group and sessions" class="btn btn-custom">
      </div>
      <hr>
      <table class="table table-light table-striped">
        <thead>
          <tr>
            <th>Slot</th>
            <th>Grid</th>
            <th>Grid Freezing</th>
            <th>User</th>
            <th>Project</th>
          </tr>
        </thead>
        <tbody id="grids" name="grids">
          <div class="col-md-12">
            <label for="grids_in_slot">Grids in Cassette</label>
            {{ grids }}
        </tbody>
      </table>
      
    </form>
{% endblock %}

{% block endscript %}
  <script>
    $(document).ready(function() {
      $('#id_cassette').change(function() {
          var cassetteId = $(this).val();
          $.ajax({
              url: "{% url 'get_grids_by_cassette' %}",
              data: {
                  'cassette_id': cassetteId
              },
              success: function(data) {
                  var $grid_in_slot = $('#grids');
                  $grid_in_slot.empty();
                  $.each(data, function(index, item) {
                      $grid_in_slot.append(
                        '<tr><td> ' + item.grid_slot_number + ' </td>' +
                        '<td>' + item.grid_name +'</td>' +
                        '<td>' + item.grid_freezing +'</td>' +
                        '<td>' + item.grid_user +'</td>' +
                        '<td>' + item.grid_project_name +'</td></tr>'
                      );
                  });
              }
          });
      });

      $('#scrnForm').submit(function(event) {
        var sessionPlan = $('#id_session_plan').val();
        var cassette = $('#id_cassette').val();
        var order = $('#id_order').val();

        if (!sessionPlan || !cassette || !order) {
          event.preventDefault();
          $('#warningMessage').show();
        } else {
          $('#warningMessage').hide();
        }
      });
    });
  </script>
{% endblock %}
</body>
</html>
