<!DOCTYPE html> 
<html lang="en"> 
<head> 
<title>Session {{ data.name }}</title> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
</head> 
<body> 

<div class="container"> 
<h2 class="text-center"><u>Screening {{ data.name }}</u></h2><br>			 
<table class="table table-light table-striped"> 
	<thead> 
	<tr>
		<th>key</th> 
		<th>value</th> 
	</tr> 
	</thead> 
	<tbody> 
	{% for f, v in  fields.items %} 
	<tr>
        <td>{{ f }}</td>
        <td>{{ v }}</td>
	</tr> 
	{% endfor %} 
	</tbody> 
</table> 
<hr>
<h2 class="text-center"><u>Grid list by screen order </u></h2><br>			 
<table class="table table-light table-striped"> 
	<thead> 
	<tr>
		<th>screening</th> 
		<th>grid</th> 
		<th>project</th> 
		<th>quality</th> 
	</tr> 
	</thead> 
	<tbody> 
	{% for s in  screens %} 
	<tr> 
	    <td><a href= "{% url 'admin:tem_screensession_change' s.id %}">{{ s }}</a></td>
	    <td><a href= "{% url 'admin:cryo_grids_cryogrid_change' s.grid.id %}">{{ s.grid }} </a></td>
        <td> {{ s.grid.project }}</td>
        <td> {{ s.quality }}</td>
	</tr> 
	{% endfor %} 
</div> 

</body> 
</html> 
            
