{% extends "tem/base.html" %}
{% block title %}Session {{ data.name }}{% endblock %}
{% block header %}Screening {{ data.name }}{% endblock %}
{% block form %}
    <br>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        {% for f, v in fields.items %}
            <tr>
                <td>{{ f }}</td>
                <td>{{ v }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <h2 class="text-center"><u>Grid List by Screen Order</u></h2>
    <br>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>Screening</th>
                <th>Grid</th>
                <th>Quality</th>
            </tr>
        </thead>
        <tbody>
        {% for s in screens %}
            <tr>
                <td><a href="{% url 'admin:tem_atlassession_change' s.id %}">{{ s }}</a></td>
                <td><a href="{% url 'admin:cryo_grids_cryogrid_change' s.grid.id %}">{{ s.grid }}</a></td>
                <td>{{ s.quality }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block warning %}
{% endblock %}
{% block endscript %}
{% endblock %}

</body>
</html>
